@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap') ;

body {
  background-image: linear-gradient(to right, cadetblue, white, white, white);
  background-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}

.header {
  align-content: space-between;
  background-color: rgb(2, 15, 125);
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  height: 60px;
  padding: 10px;
  vertical-align: middle;
}

.logo {
  color: white;
  font-family: Special Elite, cursive;
  font-size: 40px;
  padding-left: 20px;
}

.login {
  align-items: center;
  background-color: transparent;
  border-radius: 5%;
  box-shadow: inset 0 0 0 black, 0 0 0.5em darkgray,
    0 0 0.7em grey, 0 0 1em lightgrey;
  color: rgba(2, 15, 125);
  display: flex;
  flex-flow: column;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  height: 400px;
  margin-left: 50%;
  margin-top: 3%;
  width: 40%;
}

.log-input {
  border-color: seashell;
  border-radius: 5%;
  height: 30px;
  margin: 10px;
  width: 300px;
}

.log-input:hover {
  border-color: rgba(65, 105, 225);
}

.btn-log {
  background-color: darkgrey;
  border-radius: 10%;
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.btn-log:hover {
  background-color: rgb(2, 15, 125);
  color: white;
}

.log-image {
  margin-left: 60px;
  max-height: 550px;
  max-width: 90%;
  position: absolute;
}

@media ( prefers-reduced-motion : no-preference ) {

  .log-image {
    animation: image-slide 2s linear;
  }
}

@keyframes image-slide {

  from {
    margin-left: -160px;
  }

  to {
    margin-left: 70px;
  }
}

.paragrafo {
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: 900px;
  padding-bottom: 10px;
  position: absolute;
}
