h1 , h2 {
  text-align: center;
}

input {
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
}

button {
  background-color: #8a5eff;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 10px;
}

button:disabled {
  background-color: #9b9797;
  color: white;
}

.login-div {
  background-color: #00A9A5;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 400px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.login-button {
  height: 40px;
  /* transition-duration: 0.4s; */
  width: 80px;
}

/* .login-button:hover {
  background-color: #D8DCFF;
  color: black;
} */

label {
  margin: 5px;
}

input {
  margin: 5px;
}
